* {
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
  margin: 0;
  padding: 10px;
}

#headerID {
  text-align: center;
  padding: 20px;
}

#todoListContainerID{
  width: 100%;
}

.itemCkeckContainer {
  width: 10px;
  padding: 5px 15px;
}

.itemNameContainer {
  width: 80%;
  border: 1px solid grey;
  margin: 10px 55px;  
  padding: 10px;
}
.itemDeleteContainer {
  width: 10%;
  text-align: center;
  padding: 10px;
}

/* Format fo the check button */
.check {
  background-color: lightyellow;
  border: 1px solid grey;
  color: Black;
  transition-duration: 0.5s;
  cursor: pointer;
  text-align: center;
}

.check:hover {
  background-color: white; 
  color: black; 
}

/* The check is visible on check and light when unchecked*/
.checked {
  color: black; 
}

.unchecked {
  color: #EEEEEE; 
}

/* Clear floats after the columns */
#itemListFiltersID.after {
  float: right;
  content: '';
  display: table;
  clear: both;
}

#itemListFiltersID div {
  padding: 10px;
  margin: 0px 1px;
  text-align: center;
}

#itemsLeftID {
  width: 30%;
  float: left;
}
#seeAllID {
  width: 15%;
  float: right;
}
#seeActiveID {
  width: 20%;
  float: right;
}
#seeCompletedID {
  width: 25%;
  float: right;
}

#addTaskFormID {
  margin: 1px;
}

/* Clear floats after the columns */
#addTaskFormID.after {
  float: right;
  content: '';
  display: table;
  clear: both;
}

#addTaskFormID div {
  padding: 8px;
}

#addTaskFormID {
  width: 95%;
  position: fixed; bottom:0px
}


#inputContainerID {
  width: 88%;
  float: left;
  background-color: #EEEEEE;
  border: 1px solid grey;
  margin-right: 2px;
}

#inputContainerID input{
  width: 100%;
}

#addButtonID {
  width: 10%;
  float: right;
  text-align: center;
}

/* Give all the buttons the same appearance */
.button {
  background-color: #4CAF50; /* Green */
  border: 1px solid #4CAF50;
  color: white;
  transition-duration: 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: white; 
  color: black; 
}


